$yellow: #D0BB57;

.changelog-view {
  height: 100%;
  padding: 1em;

  h1 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  &__header {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__container {
    width: 50%;
    margin: auto;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-left: 1%;
  }

  &__changeList {
    list-style: circle;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    height: 87%;
  }

  &__listItem {
    display: flex;
    font-size: larger;
    margin-top: 1em;
  }
}
